<div class="page-header">
	<h1>Article Categories</h1>
</div>

<div class="page-content">
	<ul>
		<% @categories.each do |category| %>
			<div>
				<h4><%= link_to category.name, category %></h4>	
			</div>
		<% end %>	
	</ul>	
</div>	